In [1]:
import numpy as np
import pandas as pd

Data Source: https://xenabrowser.net/datapages/?cohort=TCGA%20Glioblastoma%20(GBM)&removeHub=https%3A%2F%2Fxena.treehouse.gi.ucsc.edu%3A443

### Read in omics

In [2]:
exp = pd.read_csv('Filtered_data/Expression/HT_HG-U133A_filtered.txt',delimiter= '\t',index_col=0)
exp = exp.T
exp.shape   #samples by genes
# exp_seq[:3]

(347, 12042)

In [3]:
methy_1 = pd.read_csv('Filtered_data/Methylation/met_27_data_filtered.txt',delimiter= '\t',index_col=0)
methy_1 = methy_1.T
methy_1.shape

(270, 25978)

In [4]:
methy_2 = pd.read_csv('Filtered_data/Methylation/met_450_data_filtered.txt',delimiter= '\t',index_col=0)
methy_2 = methy_2.T
methy_2.shape

(82, 25978)

In [5]:
### gist2 not thresholded so that we have continuous values
cnv = pd.read_csv('Filtered_data/CNV/cnv.txt',delimiter= '\t',index_col=0)
cnv = cnv.T
cnv.shape

(577, 24776)

In [7]:
[i for i in cnv.columns if 'IDH1' in i]

['IDH1']

### Intersection

In [7]:
exp_ind = exp.index
cnv_ind = cnv.index
exp_ind.intersection(cnv_ind)

Index(['TCGA-02-0001-01', 'TCGA-02-0003-01', 'TCGA-02-0007-01',
       'TCGA-02-0009-01', 'TCGA-02-0010-01', 'TCGA-02-0011-01',
       'TCGA-02-0014-01', 'TCGA-02-0021-01', 'TCGA-02-0024-01',
       'TCGA-02-0027-01',
       ...
       'TCGA-76-4931-01', 'TCGA-76-4934-01', 'TCGA-76-4935-01',
       'TCGA-76-6191-01', 'TCGA-76-6192-01', 'TCGA-76-6193-01',
       'TCGA-76-6282-01', 'TCGA-76-6285-01', 'TCGA-81-5910-01',
       'TCGA-87-5896-01'],
      dtype='object', length=347)

In [8]:
methy1_ind = methy_1.index
methy2_ind = methy_2.index

In [9]:
exp_ind.intersection(methy1_ind)

Index(['TCGA-02-0001-01', 'TCGA-02-0003-01', 'TCGA-02-0007-01',
       'TCGA-02-0009-01', 'TCGA-02-0010-01', 'TCGA-02-0011-01',
       'TCGA-02-0014-01', 'TCGA-02-0021-01', 'TCGA-02-0024-01',
       'TCGA-02-0027-01',
       ...
       'TCGA-32-4213-01', 'TCGA-32-4719-01', 'TCGA-41-2571-01',
       'TCGA-41-2572-01', 'TCGA-41-2573-01', 'TCGA-41-2575-01',
       'TCGA-41-3392-01', 'TCGA-41-3393-01', 'TCGA-41-3915-01',
       'TCGA-41-4097-01'],
      dtype='object', length=270)

In [10]:
len(exp_ind.intersection(methy2_ind))

82

In [11]:
cnv = cnv.ix[list(exp_ind)]

/Users/yuanqizhao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [12]:
cnv.shape

(347, 24776)

In [13]:
cnv[:3]

Gene Symbol,ACAP3,ACTRT2,AGRN,ANKRD65,ATAD3A,ATAD3B,ATAD3C,AURKAIP1,B3GALT6,C1orf159,...,SMIM9,SNORA36A,SNORA56,TMLHE,VBP1,IL9R|ENSG00000124334.12,SPRY3|ENSG00000168939.6,VAMP7|ENSG00000124333.10,WASH6P|ENSG00000182484.10,WASIR1|ENSG00000185203.7
TCGA-02-0001-01,0.242,0.242,0.242,0.242,0.242,0.242,0.242,0.242,0.242,0.242,...,0.076,0.076,0.076,0.076,0.076,0.076,0.076,0.076,0.076,0.076
TCGA-02-0003-01,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,0.007,...,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071,-0.071
TCGA-02-0007-01,-0.072,-0.072,-0.072,-0.072,-0.072,-0.072,-0.072,-0.072,-0.072,-0.072,...,-0.184,-0.184,-0.184,-0.184,-0.184,-0.184,-0.184,-0.184,-0.184,-0.184

### Combine Methylation

In [14]:
methy= pd.concat([methy_1,methy_2],join='inner',sort=False)
methy.shape

(352, 25978)

In [15]:
methy[:3]

sample,cg00000292,cg00002426,cg00003994,cg00005847,cg00006414,cg00007981,cg00008493,cg00008713,cg00009407,cg00011459,...,cg27652350,cg27653134,cg27654142,cg27655855,cg27655905,cg27657283,cg27661264,cg27662379,cg27662877,cg27665659
TCGA-02-0001-01,0.8261,0.1787,0.0415,0.3819,NaN,0.0378,0.9811,0.0186,0.0379,0.8588,...,0.3942,0.8940,0.0280,NaN,0.0493,0.0466,0.3636,0.0277,0.0441,0.0212
TCGA-02-0003-01,0.6966,0.5559,0.1039,0.8516,NaN,0.0506,0.9892,0.1278,0.0615,0.7187,...,0.7088,0.8879,0.0145,NaN,0.0424,0.0925,0.3700,0.0175,0.0407,0.0307
TCGA-02-0007-01,0.8267,0.0882,0.0255,0.4042,NaN,0.0510,0.9857,0.0185,0.0840,0.8629,...,0.2863,0.8693,0.0256,NaN,0.0812,0.1406,0.4556,0.0249,0.0296,0.0294

### Deal with NA

#### row NA --> delete patients with too many missing data

In [16]:
print(min(methy.isnull().sum(axis=1)),max(methy.isnull().sum(axis=1)))

2597 3348

#### column (probe) NA

In [17]:
# thresh = int(methy.shape[0]*.05)
thresh = 10

In [18]:
null_s = methy.isnull().sum()
null_s

sample
cg00000292      1
cg00002426      1
cg00003994      0
cg00005847      0
cg00006414    352
             ...
cg27657283      0
cg27661264      0
cg27662379      0
cg27662877      0
cg27665659      0
Length: 25978, dtype: int64

In [19]:
delete_ls = null_s[null_s>thresh].index
delete_ls

Index(['cg00006414', 'cg00014837', 'cg00022606', 'cg00027674', 'cg00032666',
       'cg00035347', 'cg00042156', 'cg00043080', 'cg00044729', 'cg00051623',
       ...
       'cg27592112', 'cg27592318', 'cg27596068', 'cg27600794', 'cg27606341',
       'cg27608154', 'cg27610561', 'cg27638672', 'cg27649653', 'cg27655855'],
      dtype='object', name='sample', length=2843)

In [20]:
methy_post = methy.drop(columns=delete_ls)

In [21]:
methy_post.shape

(352, 23135)

In [22]:
print(min(methy_post.isnull().sum(axis=1)),max(methy_post.isnull().sum(axis=1)))

0 641

In [23]:
mask = methy_post.isnull()

In [24]:
methy_post[mask] = np.nan

In [25]:
methy_post.isnull().sum()

sample
cg00000292    1
cg00002426    1
cg00003994    0
cg00005847    0
cg00007981    0
             ..
cg27657283    0
cg27661264    0
cg27662379    0
cg27662877    0
cg27665659    0
Length: 23135, dtype: int64

##### imputation

In [26]:
from sklearn.impute import SimpleImputer

In [27]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

In [28]:
col_name= list(methy_post.columns)
index_name = list(methy_post.index)

In [29]:
methy_post = imp.fit_transform(methy_post)

In [30]:
np.isnan(methy_post).any()

False

In [31]:
methy_post.shape

(352, 23135)

In [32]:
methy = pd.DataFrame(data=methy_post, index=index_name, columns=col_name)
methy[:3]

,cg00000292,cg00002426,cg00003994,cg00005847,cg00007981,cg00008493,cg00008713,cg00009407,cg00011459,cg00012199,...,cg27651218,cg27652350,cg27653134,cg27654142,cg27655905,cg27657283,cg27661264,cg27662379,cg27662877,cg27665659
TCGA-02-0001-01,0.8261,0.1787,0.0415,0.3819,0.0378,0.9811,0.0186,0.0379,0.8588,0.0238,...,0.9672,0.3942,0.8940,0.0280,0.0493,0.0466,0.3636,0.0277,0.0441,0.0212
TCGA-02-0003-01,0.6966,0.5559,0.1039,0.8516,0.0506,0.9892,0.1278,0.0615,0.7187,0.0206,...,0.9441,0.7088,0.8879,0.0145,0.0424,0.0925,0.3700,0.0175,0.0407,0.0307
TCGA-02-0007-01,0.8267,0.0882,0.0255,0.4042,0.0510,0.9857,0.0185,0.0840,0.8629,0.0222,...,0.9687,0.2863,0.8693,0.0256,0.0812,0.1406,0.4556,0.0249,0.0296,0.0294

In [33]:
sum(methy.isnull().sum())

0

### Find Common Patients over 3 omics

In [34]:
len(np.unique(np.asarray(exp.index)))

347

In [35]:
len(np.unique(np.asarray(methy.index)))

347

#### Methylation has duplicate samples --> We randomly chose one

In [36]:
methy = methy[~methy.index.duplicated(keep='first')]
methy.shape

(347, 23135)

In [37]:
(np.sort(methy.index) == np.sort(exp.index)).all()

True

In [38]:
(np.sort(exp.index) == np.sort(cnv.index)).all()

True

### Save processed files

In [39]:
# exp=exp.T
# methy=methy.T
# cnv= cnv.T
print(exp.shape, methy.shape, cnv.shape)

(347, 12042) (347, 23135) (347, 24776)

In [ ]:
import os
os.mkdir('data')

In [40]:
exp.to_csv('data/expression.txt', header=True, index=True, sep='\t', mode='a')
methy.to_csv('data/methylation.txt', header=True, index=True, sep='\t', mode='a')
cnv.to_csv('data/cnv.txt', header=True, index=True, sep='\t', mode='a')

### Clinical Data Preprocess

In [41]:
clinical = pd.read_csv('data/GBM_clinicalMatrix',delimiter= '\t',index_col=0)
clinical[:3]

,CDE_DxAge,CDE_alk_chemoradiation_standard,CDE_chemo_adjuvant_alk,CDE_chemo_adjuvant_tmz,CDE_chemo_alk,CDE_chemo_alk_days,CDE_chemo_alk_long,CDE_chemo_tmz,CDE_chemo_tmz_days,CDE_chemo_tmz_long,...,_GENOMIC_ID_TCGA_GBM_exp_u133a,_GENOMIC_ID_TCGA_GBM_exp_HiSeqV2_PANCAN,_GENOMIC_ID_TCGA_GBM_RPPA_RBN,_GENOMIC_ID_TCGA_GBM_gistic2thd,_GENOMIC_ID_TCGA_GBM_PDMRNAseqCNV,_GENOMIC_ID_TCGA_GBM_mutation,_GENOMIC_ID_TCGA_GBM_exp_HiSeqV2_percentile,_GENOMIC_ID_TCGA_GBM_exp_HiSeqV2_exon,_GENOMIC_ID_TCGA_GBM_gistic2,_GENOMIC_ID_TCGA_GBM_hMethyl450
sampleID,,,,,,,,,,,,,,,,,,,,,
TCGA-02-0001-01,44.30,False,False,False,False,0.0,False,False,0.0,False,...,03c14838-bbab-4487-80c3-c5fdf6ec83f9,NaN,NaN,TCGA-02-0001-01C-01D-0182-01,NaN,NaN,NaN,NaN,TCGA-02-0001-01C-01D-0182-01,NaN
TCGA-02-0002-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TCGA-02-0003-01,50.21,False,False,False,False,0.0,False,False,0.0,False,...,4298ad72-e8eb-4749-95da-cce602107724,NaN,TCGA-02-0003-01A-21-1898-20,TCGA-02-0003-01A-01D-0182-01,NaN,TCGA-02-0003-01A-01D-1490-08,NaN,NaN,TCGA-02-0003-01A-01D-0182-01,NaN

In [42]:
for i in list(clinical.columns):
    if 'type' in i:
        print(i)

GeneExp_Subtype
histological_type
new_neoplasm_event_type
sample_type
sample_type_id

In [43]:
clinical['GeneExp_Subtype']

sampleID
TCGA-02-0001-01      Classical
TCGA-02-0002-01         Neural
TCGA-02-0003-01      Proneural
TCGA-02-0004-01    Mesenchymal
TCGA-02-0006-01    Mesenchymal
                      ...
TCGA-87-5896-01      Classical
TCGA-OX-A56R-01            NaN
TCGA-RR-A6KA-01            NaN
TCGA-RR-A6KB-01            NaN
TCGA-RR-A6KC-01            NaN
Name: GeneExp_Subtype, Length: 629, dtype: object

In [44]:
clinical['sample_type']

sampleID
TCGA-02-0001-01    Primary Tumor
TCGA-02-0002-01              NaN
TCGA-02-0003-01    Primary Tumor
TCGA-02-0004-01    Primary Tumor
TCGA-02-0006-01    Primary Tumor
                       ...
TCGA-87-5896-01    Primary Tumor
TCGA-OX-A56R-01    Primary Tumor
TCGA-RR-A6KA-01    Primary Tumor
TCGA-RR-A6KB-01    Primary Tumor
TCGA-RR-A6KC-01    Primary Tumor
Name: sample_type, Length: 629, dtype: object

In [45]:
clinical.GeneExp_Subtype.unique()

array(['Classical', 'Neural', 'Proneural', 'Mesenchymal', nan],
      dtype=object)

### Get True Subtype labels

In [46]:
subtypes = clinical['GeneExp_Subtype']
subtypes= subtypes.T
subtypes[:3]

sampleID
TCGA-02-0001-01    Classical
TCGA-02-0002-01       Neural
TCGA-02-0003-01    Proneural
Name: GeneExp_Subtype, dtype: object

In [47]:
truelabels = subtypes[exp.index]
truelabels

TCGA-02-0001-01      Classical
TCGA-02-0003-01      Proneural
TCGA-02-0007-01      Proneural
TCGA-02-0009-01      Classical
TCGA-02-0010-01      Proneural
                      ...
TCGA-76-6193-01    Mesenchymal
TCGA-76-6282-01    Mesenchymal
TCGA-76-6285-01      Proneural
TCGA-81-5910-01      Classical
TCGA-87-5896-01      Classical
Name: GeneExp_Subtype, Length: 347, dtype: object

In [48]:
types = clinical.GeneExp_Subtype.unique()
classes = [1,2,3,4,5]

In [49]:
for i in range(len(types)):
    truelabels[truelabels==types[i]] = classes[i]

### ['Classical', 'Neural', 'Proneural', 'Mesenchymal', nan]  [0,1,2,3,4]

In [50]:
truelabels.unique()

array([1, 3, 4, 2], dtype=object)

In [51]:
(truelabels==5).sum()

0

In [53]:
(exp.index == truelabels.index).all()

True

In [ ]:
exp_t.index

In [ ]:
truelabels.index

In [54]:
truelabels.to_csv('data/true_subtype.txt', header=True, index=True, sep='\t', mode='a')